<!-- homepage view -->

<% block('topStyles', stylesheet('/styles/bundles/default.css')) %>

<h2>$APP_NAME</h2>
<%- partial('partials/partial.ejs') %>

<% block('bottomScripts', script('/js/app.js')) %>