//- homepage view

extends ./layouts/master.jade

block topStyles
	//- page styles goes here
	link( rel="stylesheet" href="/styles/bundles/default.css" )

block content
	//- body content goes here
	h2 $APP_NAME
	include ./partials/partial.jade

block append bottomScripts
	//- bottom page js goes here
	script( type="text/javascript" src="/js/app.js" )