//- template
doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title #{title !== undefined ? title : "$APP_NAME"}
        block head
        block topStyles
        block topScripts
    body
        block content
        script( type="text/javascript" src="/js/dependencies/sails.io.js" )
        block bottomScripts
